<!-- Skincare Chatbot Widget -->
<link rel="stylesheet" href="YOUR_VERCEL_DEPLOYMENT_URL/chatbot-widget.css">
<div id="skincare-chatbot-root"></div>
<script src="YOUR_VERCEL_DEPLOYMENT_URL/chatbot-widget.js"></script>

<!-- Alternative method using direct script import -->
<!--
<script type="module">
  import 'YOUR_VERCEL_DEPLOYMENT_URL/chatbot-widget.js';
</script>
-->