/* Media Queries for Chatbot Widget - Mobile Responsiveness */
/* These styles will only apply to smaller screens and won't affect desktop design */

/* For tablets and smaller laptops */
@media screen and (max-width: 1024px) {
  .chatbot-panel {
    width: 330px !important;
    height: 650px !important;
  }
  
  .chatbot-header {
    min-height: 140px !important;
  }
}

/* For mobile devices in portrait mode */
@media screen and (max-width: 768px) {
  .chatbot-panel {
    width: 360px !important;
    height: 530px !important;
    bottom: 90px !important;
    right: 15px !important;
  }
  
  .chatbot-header {
    min-height: 100px !important;
  }
  
  .chatbot-content {
    padding: 12px !important;
  }
   /* Reduce space between welcome text and buttons */
  .welcome-text {
 
    margin-bottom: 10px !important;
  }
  
  .mode-selection-container {
    padding-top: 8px !important;
  }

}

/* For small mobile devices */
@media screen and (max-width: 480px) {
  .chatbot-panel {
    width: 280px !important;
    height: 540px !important;
    bottom: 96px !important;
    right: 8px !important;
  }
  
  .chatbot-header {
    min-height: 100px !important;
    margin-bottom: 0px !important;
  }
  
  .chatbot-button {
    padding: 16px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
  
  .chatbot-button-text {
    font-size: 14px !important;
  }
  
  .chatbot-button-subtext {
    font-size: 10px !important;
  }
  
  /* Reduce space between welcome text and buttons */
  .welcome-text {
    margin-bottom: 0px !important;
  }
    .ready-text {
 font-size: 9px !important;
    margin-bottom: 12px !important;
  }
 .buttons{
    margin-bottom: 8px !important;
    margin-left: 0px;
 }
}

/* For extra small devices */
@media screen and (max-width: 360px) {
  .chatbot-panel {
    width: 280px !important;
    height: 580px !important;
  }
  
  .chatbot-header {
    min-height: 90px !important;
  }
}